* {
    background:    "{background}";
    foreground:    "{foreground}";
    selected:      "{color2}";
    selected-alt:  "{color3}";
    urgent:        "{color4}";
    active:        "{color5}";
    border:        "{color6}";
}

